NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
JOB_SYNC_SECRET=
CRON_SECRET=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_COUNTRY=us
ADZUNA_SEARCH_QUERIES=
ADZUNA_DEFAULT_WHERE=
ADZUNA_RESULTS_PER_QUERY=30
ADZUNA_MAX_DAYS_OLD=7
DAILY_FRESH_JOB_QUERIES=
DAILY_FRESH_ADZUNA_QUERY_COUNT=8
DAILY_FRESH_MAX_DAYS_OLD=3
DAILY_FRESH_STALE_DAYS=45
ASHBY_COMPANY_SLUGS=
ASHBY_DISABLE_DEFAULT_SOURCES=false
ASHBY_MAX_COMPANIES_PER_SYNC=140
LEVER_COMPANY_SLUGS=
LEVER_EU_COMPANY_SLUGS=
LEVER_MAX_COMPANIES_PER_SYNC=100
GOOGLE_SITE_VERIFICATION=
SUPER_LOGIN_USERNAME=
SUPER_LOGIN_EMAIL=
SUPER_LOGIN_PASSWORD=
ADMINHIREVATE01_PASSWORD=
NEXT_PUBLIC_APP_URL=
